
<mat-toolbar class="mat-elevation-z1" color="mat-primary" >
  <mat-icon mat-list-icon>article</mat-icon>
  <span>Posts</span>
</mat-toolbar>

<div class="content">
    <ngx-datatable
      #table
      class="material"
      [rows]="data"
      [columnMode]="'force'"
      [headerHeight]="48"
      [footerHeight]="56"
      [rowHeight]="'auto'"
      [scrollbarH]="true"
      [reorderable]="reorderable"
      [externalPaging]="false"
      [count]="page.totalElements"
      [offset]="page.pageNumber"
      [limit]="page.size"
    >

      <ngx-datatable-column name="No."              prop="id"              [maxWidth]="80"  ></ngx-datatable-column>
      <ngx-datatable-column name="Data"             prop="data"            [maxWidth]="150" ></ngx-datatable-column>
      <ngx-datatable-column name="Última Interação" prop="lastInteraction" [maxWidth]="150" ></ngx-datatable-column>
      <ngx-datatable-column name="Nome"             prop="name"            ></ngx-datatable-column>
      <ngx-datatable-column name="Unidade"          prop="unidade"         [maxWidth]="150" ></ngx-datatable-column>
      <ngx-datatable-column name="Equipe"           prop="equipe"          [maxWidth]="150" ></ngx-datatable-column>
      <ngx-datatable-column name="Atendente"        prop="atendente"       ></ngx-datatable-column>

  </ngx-datatable>
</div>
