
<mat-toolbar class="mat-elevation-z1" color="mat-primary" >
    <mat-icon mat-list-icon>dashboard</mat-icon>
    <span>Dashboard</span>
</mat-toolbar>


<div class="content">
    <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="16px grid" >

        <div *ngFor="let i of data" fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%" >
            <mat-card class="chart-card" >

                <h2 class="text-center">{{i.title}}</h2>

                <apx-chart
                    [series]="i.series"
                    [chart]="i.chart"
                    [xaxis]="i.xaxis"
                    [stroke]="i.stroke"
                    [tooltip]="i.tooltip"
                    [dataLabels]="i.dataLabels"
                ></apx-chart>

            </mat-card>
        </div>


    </div>
</div>
