
<mat-toolbar class="mat-elevation-z1" color="mat-primary" >
    <mat-icon mat-list-icon>dashboard</mat-icon>
    <span>Dashboard</span>
</mat-toolbar>


<div class="content">
    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="16px" >


        <mat-card class="chart-card" fxFlex="25" *ngFor="let i of data" >
            <h2 class="text-center">{{i.title}}</h2>
            <apx-chart
                [series]="i.series"
                [chart]="i.chart"
                [xaxis]="i.xaxis"
                [stroke]="i.stroke"
                [tooltip]="i.tooltip"
                [dataLabels]="i.dataLabels"
            ></apx-chart>
        </mat-card>


    </div>
</div>
