
<mat-list role="list">

  <a mat-list-item routerLink="/dashboard" routerLinkActive="active" >
    <mat-icon mat-list-icon>dashboard</mat-icon>
    <div mat-line>Dashboard</div>
  </a>

  <a mat-list-item routerLink="/posts" routerLinkActive="active" >
    <mat-icon mat-list-icon>article</mat-icon>
    <div mat-line>Posts</div>
  </a>

  <a mat-list-item routerLink="/inventory" routerLinkActive="active" >
    <mat-icon mat-list-icon>inventory</mat-icon>
    <div mat-line>Inventory</div>
  </a>

  <a mat-list-item routerLink="/error" routerLinkActive="active" >
    <mat-icon mat-list-icon>error</mat-icon>
    <div mat-line>Error</div>
  </a>

</mat-list>
