/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body
{
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #666;
}

.link
{
    color: #333;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active
    {
        text-decoration: underline;
    }
}

.text-center { text-align: center !important; }
.text-left   { text-align: left   !important; }
.text-right  { text-align: right  !important; }

.spacer { flex: 1 1 auto; }
.container { min-height: 100%; }
.content { padding: 24px; }

.card-form-not-full { max-width: 1000px; }

.datatable-header-cell-template-wrap
{
    display: flex;
    place-content: space-between;
    flex-direction: row;
    align-items: center;
}

.ngx-datatable.material.single-selection      .datatable-body-row.active,
.ngx-datatable.material.single-selection      .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-selection       .datatable-body-row.active,
.ngx-datatable.material.multi-selection       .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group { background-color: #ebebeb !important; }

.datatable-body-cell-label .mat-icon { float: left; }


mat-toolbar
{
    mat-icon
    {
        margin-right: 16px;
    }

    .mat-icon-button
    {
        mat-icon
        {
            margin-right: 0 !important;
        }
    }

    .right-button
    {
        margin-right: 6px !important;
        margin-left: -6px !important;
    }
}


.mat-drawer-content
{
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .sidenav-content
    {
        overflow-y: auto;
        height: 100%;

        .content-table
        {
            height: calc(100% - 112px);
        }
    }
}